.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header {
    background-color: #AF92B5;
    padding: 20px 40px;
}
.logo {
    width: 180px;
    height: auto;
}
.menu-icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 100px;
}

.card-button {
    width: 320px;
    height: 220px;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: 0.3s;
}

.card-button.borrow {
    background-color: #6F597A;
    color: #FFFFFF;
}

.card-button.return {
    background-color: #D9D9D9;
}

.card-button h2 {
    margin: 0;
    font-size: 40px;
    font-family: "Prompt", sans-serif;
}

.card-button.borrow:hover {
    background-color: #B29DBD;
    transform: translateY(-5px);
}

.card-button.return:hover {
    background-color: #B29DBD;
    transform: translateY(-5px);
}

.footer {
    background-color: #AF92B5;
    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-bottom: 15px;
}

.footer-text {
    margin: 0;

    color: white;
    font-size: 16px;
    font-family: "Montserrat", "Prompt", sans-serif;
}

.menu{
    position: relative;
}

.dropdown{
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    width: 220px;
    background: white;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    overflow: hidden;
}